<dl>
	<dt>用户基本信息</dt>
	<dd>
		<ul class='list-group'>
			<li class='list-group-item'>
				<span>登录名:</span>
				<span><%= user.code %></span>
			</li>
			<li class='list-group-item'>
				<span>昵称:</span>
				<span><%= user.name %></span>
			</li>
		</ul>
	</dd>
</dl>